@use "variaveis"; // Se estiverem na mesma pasta, não precisa do ../components/
@use "animacoes";
@use "fontes";

.container {
    .row {
        
        .carrosel-cards .slick-slide {
            padding: 10px 10px;
        }

        
        .card {
            @include animacoes.hover-efeito;
            background-color: variaveis.$corPrincipal;
            height: 200px;
            border: none;

            h6 {
                @include fontes.fonteBonita;
                padding-top: 5px;
                font-size: 0.9rem;
                color: variaveis.$corTexto;
                text-transform: capitalize;
            }

            img {
                width: 100%;
                height: 156px;
                object-fit: cover;
            }

            .card-body {
                background-color: variaveis.$corTexto;
                margin: 5px;
                padding: 0;
            }
        }
        .corpo-card-personagem {
            transition: all 0.5s ease-in-out;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            .botao-iniciar{
                text-align: center;
                backdrop-filter: brightness(0.5); 
                height: 100%;
                h6{
                    padding-top: 40px;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }
        .corpo-card-quiz {
            background-image: url("../../../src/img/personagens/Gemini_Generated_Image_5ofr1m5ofr1m5ofr.png");
            transition: all 0.5s ease-in-out;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            .botao-iniciar{
                text-align: center;
                backdrop-filter: brightness(0.5); 
                height: 100%;
                h6{
                    padding-top: 40px;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }
        .corpo-card-quebra-cabeca {
            background-image: url("../../../src/img/personagens/Gemini_Generated_Image_7hctdy7hctdy7hct.png");
            transition: all 0.5s ease-in-out;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            .botao-iniciar{
                text-align: center;
                backdrop-filter: brightness(0.5); 
                height: 100%;
                h6{ 
                    padding-top: 40px;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }
    }
}
.card-principal-jogos{
    display: none;
    transition: all 0.5s ease-in-out;
    transform: translateY(120%);
    z-index: 11;
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    height: 100%;
    background-color: black;
    .cabecalho{
        background-color: variaveis.$corPrincipal;
        h2{
            @include fontes.fonteP;
        }
    }
}