@use "../components/variaveis";

/**modal principal que aparece no inicio ao carregar o site*/
.modal{
    backdrop-filter: blur(2px);
    padding:45px ;
    position: fixed;
    .modal-dialog{
        margin: 0 auto;
    }
    .modal-content{
        border-color: variaveis.$corPrincipal;
        transition: transform 0.3s ease-in-out, opacity 0.3s linear;
        .modal-body{
            background-color: variaveis.$corPrincipal;
            color:variaveis.$corTexto;
            .modal-footer{
                background-color: variaveis.$corSecundaria;
            }
        }
    }
}

/*Alerta que é disparado ao salvar a roupa da personagem*/
.alerta-de-salvamento-de-roupa{
    display: none;
    justify-content: center;
    position: fixed;
    transform: translateY(300%);
    z-index: 11;
    bottom: 70px;
    width: 100%;
    background-color: variaveis.$corPrincipal;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.4s ease-in-out;
    border-radius: 15px;
    h6{
        margin-bottom: 0;
        color: variaveis.$corTexto;
    }
}

