@use "../components/header";
@use "../components/variaveis";
@use "../components/modal";
@use "../components/texto-boas-vindas";
@use "../components/fontes";
@use "../components/avatar-ruiva";
@use "../components/texto-principais-topicos";
@use "../components/cards-principais";
@use "../components/animacoes";
@use "../components/footer";

body{
    height: 100vh;
    main{
        margin-top: 50px;
        overflow-x: hidden;
    }
}
